{% load menu %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="fluid-container">
      <center>
        <nav
          class="navbar navbar-expand-lg navbar-dark justify-content-between text-white"
          style="background-color: green"
        >
          <a class="navbar-brand" href="/"> CAREER HUB PROJECT </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown01"
            aria-controls="navbarNavDropdown01"
            aria-expanded="false"
            aria-label="Toggle navigation"
            style="outline-color: #fff"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown01">
            {% if user.is_authenticated %} {% if user.user_type == 'applicant'%}
            <ul class="navbar-nav">
              <!--dropdown item of menu-->

              <li class="nav-item dropdown position-static">
                <a class="nav-link" href="{% url 'applicant_job_display' %}">
                  My Applications
                </a>
              </li>
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item dropdown position-static">{% menu%}</li>
            </ul>
            {% elif user.user_type == 'employer' %}
            <ul class="navbar-nav">
              <!--dropdown item of menu-->

              <li class="nav-item dropdown position-static">
                <a class="nav-link" href="{% url 'job_applied' %}">
                  Applications
                </a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <!--dropdown item of menu-->

              <li class="nav-item dropdown position-static">
                <a class="nav-link" href="{% url 'job_creation' %}">
                  Post Job
                </a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <!--dropdown item of menu-->

              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link"
                  href="{%  url 'employer_profile_detail' user.id%}"
                >
                  Jobs
                </a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <!--dropdown item of menu-->

              <li class="nav-item dropdown position-static">
                <a
                  class="nav-link"
                  href="{%  url 'employer_profile_detail' user.id%}"
                >
                  Jobs
                </a>
              </li>
            </ul>

            {% endif %}

            <ul class="navbar-nav ml-3">
              <li class="nav-item dropdown position-static">
                <span class="text-capitalize">{{user.username}}</span>
              </li>
            </ul>
            <ul class="navbar-nav">
              <!--dropdown item of menu-->

              <li class="nav-item dropdown position-static">
                <a class="nav-link" href="{% url 'logout' %}"> Logout </a>
              </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
              <!--dropdown item of menu-->

              <li class="nav-item dropdown position-static">
                <a class="nav-link" href="{% url 'logout' %}"> Login </a>
              </li>
            </ul>
            {% endif %}
            <form class="form-inline ml-auto">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-success my-2 my-sm-0 mx-sm-auto"
                type="submit"
              >
                Search
              </button>
            </form>
          </div>
        </nav>
      </center>
    </div>
  </body>
</html>
